.button {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.button, path {
    transition: all 0.3s;
}

.button:hover {
    cursor: pointer;
    color: #690B0B;
}

.button:hover svg path {
    fill: #690B0B;
}